body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 30px;
    background: #1e293b;
}

h1 {
    margin: 0;
    font-size: 40px;
}

section {
    padding: 30px;
}

.projects {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #334155;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e293b;
}
